.wrapper {
    height: 100vh;
    width: 93.75%;
    background: url("./assets/images/background1.png");
    margin-left: 6.25%;
    background-size: cover;
}
.header {
    display: flex;
    height: 120px;
    justify-content: space-between;
}
.navbar {
    width: 480px;
    margin: 30px 30px 0 0;;
}
.navbar ul {
    display: flex;
    justify-content: space-between;
}
.navbar ul li a {
    display: flex;
    width: 100px;
    height: 41px;
    border-radius: 20px;
    background-color: #000000;
    text-align: center;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 30px;
    color: #000000;
    font-weight: 900;
    margin: 30px 0 0 30px;
}
